{% extends 'base.html' %}

{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
    .navbar {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% block navbar %}{% endblock %}
<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="NetID" name="netid">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" placeholder="Password" name="password">
                </div>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="social-login">
                <div class="social-icons">
                    <a href="{% url 'index' %}" class="social-login__icon fab fa-instagram">
                        <h3>Home</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
{% endblock %}

{# TODO: POST the form data #}